{% extends "base.html.twig" %}

{% block body %}

    {# ----------------------- #}
    {# ---  Product Detail #}
    {# ----------------------- #}

    {# Product detail's Style #}
    <link rel="stylesheet" href="{{ asset("assets/css/product_detail/detail.css") }}" type="text/css">

    <div id="det-container">

        <div id="det-image">
            <img src="{{ asset(product.image) }}" alt="Photographie du {{ product.name }}">
        </div>

        <div id="det-details">
            <p id="det-categorie">
                {{ product.categorie.categoryName }}
            </p>
            <h1 id="det-name">
                {{ product.name }}
            </h1>
            <div id="det-rating">
                {% for i in 1..5 %}
                    {% if i <= rating.1 %}
                        <img src="{{ asset('images/comments/comment_star_full.png') }}" alt="étoile pleine"
                             class="star">
                    {% else %}
                        <img src="{{ asset('images/comments/comment_star_none.png') }}" alt="étoile non attribuée"
                             class="star">
                    {% endif %}
                {% endfor %}
                <p id="det-num">{{ rating.2 }} avis</p>
            </div>
            <div id="det-description">
                {{ product.longDescription | raw }}
            </div>
            <div id="det-weight">
                <p class="det-label">Poids</p>
                <p class="det-value">{{ product.weightGram }} g</p>
            </div>
            <a href="{{ path("cart_add", {id: product.id}) }}" id="det-btn">
                <img src="/images/products/cart_white.png" alt="Panier">Ajouter au panier
            </a>

        </div>
    </div>

    {# ----------------------- #}
    {# ---      Comments       #}
    {# ----------------------- #}

    {% include 'user_comments/_comments.html.twig' with {'background': '_cream'} %}


    {# ----------------------- #}
    {# ---    Related products #}
    {# ----------------------- #}

    {# related product's Style #}
    <link rel="stylesheet" href="{{ asset("assets/css/product_detail/related.css") }}" type="text/css">

    <div id="related-container">
        <h2 id="rel-title">
            Vous aimerez aussi
        </h2>
        <div id="rel-flex">
            {% for relatedProduct in related %}
                {% include 'products/_product.card.html.twig' with {product: relatedProduct} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}